.Login-box .title {
  font-size: 2rem;
}
.Login-box {
  font-size: 1rem;
}
form .user {
  padding: 1rem;
  margin: auto;
}

form .pass {
  padding: 1rem;
  margin: auto;
}
/* background and box setup */
.Login_wrapp .backgroundimg {
  background-image: url("https://res.cloudinary.com/dymsokiwr/image/upload/v1730058840/tanks_giving_rfa3vp.jpg");

  filter: blur(3px);
  -webkit-filter: blur(3px);
  opacity: 0.9;

  height: 80vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Login-box {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 1px solid #f1f1f1;
  box-shadow: 20px 20px 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
