@import "./Variables";
.UserHome {
  text-align: center;
  height: 80vh;
  background-color: $palette2;
}

@media (max-width: 700px) {
  .UserHome {
    height: auto; /* Increase height on smaller screens */
  }
}

.user_col_left {
  text-align: center;
  .user_info {
    text-align: center;
    margin: 3rem 0;
    .user_menu li {
      padding: 0.5rem 0;
      list-style: none;
      text-align: left;
      i {
        padding: 0 1rem;
      }
      button {
        font-weight: 600;
      }
      .logout {
        background-color: $palette4;
        padding: 0.5rem 3rem;
      }
    }
  }
  .img_prof {
    padding: 1rem 0;
    display: grid;
    margin: auto;
    text-align: center;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    background-color: $palette1;

    img {
      vertical-align: middle;
      max-width: 5rem;
      max-height: 5rem;
      background-color: $palette4;
    }
  }
}

.user_col_center {
  height: 100%;
  background-color: $palette1;
}
