@import "./Variables";
.UserHome {
  text-align: center;
  /*   height: 80vh; */
  background-color: $palette2;
}

ul,
li {
  margin: 0;
  padding: 0;
}

/* @media (max-width: 700px) {
  .UserHome {
    height: auto;
  }
} */

.user_col_left {
  text-align: center;
  .user_info {
    margin: 3rem 0;
    .user_menu li {
      padding: 0.5rem 0;
      list-style: none;

      i {
        padding: 0 1rem;
      }
      button {
        font-weight: 600;
      }
      .logout {
        background-color: $palette5;
        padding: 0.5rem 3rem;
        color: $palette1;
      }
    }
  }
  .img_prof {
    padding: 1rem 0;
    display: grid;
    margin: auto;
    text-align: center;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    background-color: $palette4;

    img {
      border-radius: 50%;
      margin: auto;
      max-width: 6rem;
      max-height: 6rem;
    }
  }
}

.user_col_center {
  height: 100%;
  background-color: $palette1;
}
